*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

/* LOGIN BOX */
.login-box{
  position: relative;
  width: 380px;
  height: 420px;
  border-radius: 12px;
  background: #353834;
  overflow: hidden;
}

/* GLOW ANIMATION */
.login-box::before{
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: linear-gradient(
    0deg,
    transparent,
    #00fff0,
    #00fff0,
    transparent
  );
  animation: glow 6s linear infinite;
}

@keyframes glow{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

/* FORM */
.login-box form{
  position: absolute;
  inset: 4px;
  background: rgb(152, 137, 137);
  padding: 50px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.login-box h1{
  color: aliceblue;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
}

/* INPUT BOX */
.input-box{
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.input-box input{
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 1em;
}

/* LABEL */
.input-box label{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

/* FLOAT LABEL */
.input-box input:focus ~ label,
.input-box input:valid ~ label{
  transform: translateY(-28px);
  font-size: 0.75em;
  color: #00fff0;
}

/* UNDERLINE */
.input-box span{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #00fff0;
  transform: scaleX(0);
  transition: 0.5s;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span{
  transform: scaleX(1);
}

/* REMEMBER & FORGOT */
.remember-forgot{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}

.remember-forgot a{
  color: #0640fd;
  text-decoration: none;
}

/* BUTTON */
button{
  margin-top: 30px;
  padding: 12px;
  border: none;
  outline: none;
  background: #00fff0;
  color: black;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #00d6c8;
  box-shadow: 0 0 15px #00fff0;
}

/* REGISTER */
.register-link{
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.register-link a{
  color: #003cff;
  text-decoration: none;
}
